<div class="main">
  <h1 class="headline">Start tracking now</h1>
  <p class="lead">
    How much water have you drunk today?
  </p>
  <p>
    <div class="group">
      <button type="button" class="btn btn-primary volumeAdd" ng-click="updateDayTotal()" ng-model="dayTotal"><span class="glyhpicon glyphicon-plus"></span></button>
      <div class="dayTotal">
        <span>{{dayTotal}}{{unit}}</span>
      </div>
    </div>
  </p>
</div>

<div class="row marketing">
  <h3>You probably aren't drinking enough water</h3>
  <p>The average adult should drink between 2 and 3 liters of water a day.</p>
</div>

<div class="footer">
  <p>Built with ♥ and burritos</p>
</div>
